
footer {
    clear: both; 
    border-top: 1px solid #ccc; padding: 10px;    }
aside { width: 320px; float: right; height: 300px; background-color:  red;
 }
header {text-align: center;}
nav {text-align: center; width: 1500px;}